<div class="grid-nogutter surface-section text-800 grid">
  <div
    class="col-12 md:col-6 align-items-center flex p-6 text-center md:text-left">
    <section>
      <span class="mb-1 block text-6xl font-bold">Create the screens</span>
      <div class="text-primary mb-3 text-6xl font-bold">
        your visitors deserve to see
      </div>
      <p class="text-700 line-height-3 mt-0 mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>

      <button
        pButton
        pRipple
        label="Learn More"
        type="button"
        class="p-button-raised mr-3"></button>
      <button
        pButton
        pRipple
        label="Live Demo"
        type="button"
        class="p-button-outlined"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="assets/images/blocks/hero/hero-1.png"
      alt="Image"
      class="block md:ml-auto md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)" />
  </div>
</div>
