<div class="h-full w-full">
  <div class="my-[28px] flex justify-end gap-[6px] px-[40px]">
    <button mat-button color="primary" [routerLink]="'/auth/signup'">
      REGISTER
    </button>
    <button mat-flat-button color="primary" [routerLink]="'/auth/login'">
      Log In
    </button>
  </div>
  <div class="flex h-[203px] w-full">
    <div class="promo-font flex items-center justify-center px-3 text-[200px]">
      NOT
    </div>
    <div class="h-[203px] grow">
      <img
        class="object-cover"
        width="100%"
        height="100%"
        src="assets/images/pic1.png"
        alt="" />
    </div>
    <div class="h-[203px] grow">
      <img
        class="object-cover"
        width="100%"
        height="100%"
        src="assets/images/pic2.png"
        alt="" />
    </div>
    <div class="h-[203px] grow">
      <img
        class="object-cover"
        width="100%"
        height="100%"
        src="assets/images/pic3.png"
        alt="" />
    </div>
    <div class="h-[203px] grow">
      <img
        class="object-cover"
        width="100%"
        height="100%"
        src="assets/images/pic4.png"
        alt="" />
    </div>
  </div>
  <div class="flex h-[203px] w-full">
    <div class="h-[203px] grow">
      <img
        class="object-cover"
        width="100%"
        height="100%"
        src="assets/images/pic5.png"
        alt="" />
    </div>
    <div class="h-[203px] grow">
      <img
        class="object-cover"
        width="100%"
        height="100%"
        src="assets/images/pic6.png"
        alt="" />
    </div>
    <div class="promo-font flex items-center justify-center px-3 text-[200px]">
      JUST
    </div>
    <div class="h-[203px] grow">
      <img
        class="object-cover"
        width="100%"
        height="100%"
        src="assets/images/pic7.png"
        alt="" />
    </div>
    <div class="h-[203px] grow">
      <img
        class="object-cover"
        width="100%"
        height="100%"
        src="assets/images/pic8.png"
        alt="" />
    </div>
  </div>
  <div class="flex h-[203px] w-full">
    <div class="h-[203px] grow">
      <img
        class="object-cover"
        width="100%"
        height="100%"
        src="assets/images/pic9.png"
        alt="" />
    </div>
    <div class="h-[203px] grow">
      <img
        class="object-cover"
        width="100%"
        height="100%"
        src="assets/images/pic10.png"
        alt="" />
    </div>
    <div class="h-[203px] grow">
      <img
        class="object-cover"
        width="100%"
        height="100%"
        src="assets/images/pic11.png"
        alt="" />
    </div>
    <div
      class="promo-font relative flex items-center justify-center pl-3 pr-[50px] text-[200px]">
      SPORT

      <img
        class="absolute -top-[50px] -left-[220px] h-[150%] w-[150%]"
        src="assets/images/pic12.svg"
        alt="" />
    </div>
  </div>
</div>
